{% extends "mymaintemplate.html" %}

{% block title %}
MY MOVIE LIBRARY
{% endblock title %}


{% block mycontent %}
<div class="container">
    {% block content %}
    <h2>MOVIE LIBRARY</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Title</th>
            <th>Year</th>
            <th>Cast</th>
            <th>Plot</th>
            <th>Genre</th>
        </tr>
        {% for film in films %}
        <tr>
            <td><a href="{{ loop.index }}">{{ film.id }}</a></td>

            <td><img src="{{ film.posterUrl }}" style="object-fit:fill;
            width:100px;
            height:150px;
            border: solid 1px #CCC"></td>
            <td>{{ film.year }}</td>
            <td>{{ film.title }}</td>
            <td>{{ film.actors }}</td>
            <td>{{ film.plot }}</td>
            <td>{{ film.genres }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</div>

<div>
    <h2> Add new movie : </h2>
    <div class="add_movie">
        <form method="POST" action="/api/v1/films/">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            <table>
                <col width="100px"/>
                <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                <td>{{ field }}</td>
                {% endfor %}
            </table>
            <div style="text-align:left">
                <input type="submit" value="ADD MOVIE">
            </div>

        </form>
    </div>
</div>


{% endblock mycontent %}

