{% extends "mymaintemplate.html" %}

{% block title %}
MY MOVIE LIBRARY
{% endblock title %}


{% block mycontent %}
<div class="container">
    {% block content %}

    <h1>MOVIE LIBRARY</h1>
    <table>
    <form method="POST" >
        <tr>
            <th><button type="submit" name="submit_button" value="id">Id</th>
            <th>Image</th>
            <th><button type="submit" name="submit_button" value="year">Year</th>
            <th><button type="submit" name="submit_button" value="title">Title</th>
            <th>Cast</th>
            <th>Plot</th>
            <th>Genre</th>
        </tr>
        {% for film in films %}
        <tr>
            <td><a href="/films/{{ loop.index }}">{{ film.id }}</a></td>
            <td><img src="{{ film.posterUrl }}" style="object-fit:fill;
            width:100px;
            height:150px;
            border: solid 1px #CCC"></td>
            <td>{{ film.year }}</td>
            <td><div style="font-weight: bold;color:yellow" >{{ film.title }}</td></div>
            <td>{{ film.actors }}</td>
            <td>{{ film.plot }}</td>
            <td>{{ film.genres }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</form>
</div>

<div>
    <h2> ADD NEW MOVIE : </h2>
    <div class="add_movie">
        <form method="POST" action="/films">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <table>
                <col width="200px"/>
                <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                <td>{{ field }}</td>
                {% endfor %}
            </table>
            <div>
                <input type="submit" name="submit_button" value="ADD MOVIE">
            </div>

        </form>
    </div>
</div>


{% endblock mycontent %}

